{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'jugadores_equipo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <div class="container mt-4">
        <h2 class="mb-4">Jugadores de {{ equipo.nombre }}</h2>

        <div class="fila-jugadores">
            <div class="col-md-9">
                <!-- Porteros -->
                <div class="mb-4">
                    <h4 class="posicion-titulo">Porteros</h4>
                    <div class="fila-jugadores">
                        {% for jugador in porteros %}
                            {% include 'partials/jugador_carta.html' %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Defensas  -->
                <div class="mb-4">
                    <h4 class="posicion-titulo">Defensas</h4>
                    <div class="fila-jugadores">
                        {% for jugador in defensas %}
                            {% include 'partials/jugador_carta.html' %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Mediocampistas  -->
                <div class="mb-4">
                    <h4 class="posicion-titulo">Mediocampistas</h4>
                    <div class="fila-jugadores">
                        {% for jugador in mediocampistas %}
                            {% include 'partials/jugador_carta.html' %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Delanteros  -->
                <div class="mb-4">
                    <h4 class="posicion-titulo">Delanteros</h4>
                    <div class="fila-jugadores">
                        {% for jugador in delanteros %}
                            {% include 'partials/jugador_carta.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'menu' %}" class="btn-volver-menu">
            <i class="fas fa-arfila-jugadores-left"></i> Volver al Menú
        </a>
    </div>
    </div>
    </div>
{% endblock %}